# Django Application Settings
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Paymenku API Settings
PAYMENKU_API_KEY=your-paymenku-api-key
PAYMENKU_BASE_URL=https://paymenku.com/api/v1
PAYMENKU_WEBHOOK_SECRET=whsec_your_webhook_secret_here

# Client Redirect URL
FRONTEND_RETURN_URL=http://localhost:3000/succes

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000